.stackItem {
    width: 95%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:end;
    margin:auto;
    padding:0;
  }

.stackContainer{  
  width:100%;
  padding:3rem 0;
  background-color: #06092b;   
  
}

@media screen and (max-width:700px){
 .stackItem{
   justify-content:left;
 }
 
}