.container{
    /* margin:3rem 0; */
    height:auto;
    margin:1rem;
}

.containerImg{
    width:100%;    
    background-position: center center;
    background-size: cover;
}

@media screen and (max-width:700px){
    .container{
        /* margin:2rem 0;         */
        height: 200px;
    }
    .img{
        width:100%;
        margin:0 auto;
    }
    .containerImg{
        width:100%;
        margin:auto;
        background-color: red;
    }
}