.container{
  background-color: #06092b;   
  color:white;
  width:100%;    
}


/*Search Bar*/
.searchBarContainer :global(.vtex-input-prefix__group){
  background-color: transparent;
  border:1px solid #1421b4;
}

.searchBarContainer :global(.vtex-input__suffix){
  background:transparent;  
}

.searchBarContainer :global(.vtex-store-components-3-x-searchBarIcon){
  color:white;
}
/*Search Bar*/

.logoImage--logo{    
  width:300px;
  margin-top:.5rem;
  align-items: center;
  justify-content: center;  
  padding:0;  
}

.logoLink{
  margin-right: 1rem;
}

/*Main Banner*/
.infoCardContainer--header{
  width:100%;
  height: 500px;
  margin:auto;
  position:relative;     
}

.infoCardHeadline--header{
  color:white;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: .5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
  line-height: 15px;
}

.infoCardTextContainer--header{
  width:80%;
  position:absolute;
  bottom:10px;    
}

.infoCardSubhead--header{
  width:90%;
  color:white;
  font-weight:bold;
}


.infoCardImage--header{
  width:100px;
}
/*Main Banner*/

.installmentsPrice{
  color:grey;
  font-weight: bold;
}

.sellingPrice{
  color:white;
  font-weight: bold;
}

.autoCompleteOuterContainer{
  background:none;  
}

.imageElement--cover {
  width:80%;    
  background-size:cover;      
}
.imageElement--consolas {
  border-radius:5px;   
}

.imageElement--game {
    object-fit:cover;        
    margin:0;
    padding:0;
    height: 400px;  
}

.infoCardTextContainer--acao-footer{
  width:50%;
  margin-left:1rem;
  color:white;  
  margin-bottom: 0.5rem;
}
.infoCardTextContainer--descricaoProd{
  width:100%;
  margin-left:1rem;
  color:white;  
  margin-bottom: 0.5rem;
}

.infoCardTextContainer{
  width:80%;
  color:white;
}



.infoCardCallActionContainer {
    color: white;
    background-color: gray;
    border: transparent;
}
  
  

/*Info cards nostalgia e olimpiadas*/
.infoCardHeadline--nostalgia,
.infoCardHeadline--olimpiadas{  
  width:80%;
  font-weight: bolder;
  letter-spacing: .5px;
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  font-weight:bold;
  font-family: serif;
  font-size: 2.25rem;
  position:relative;
}

.infoCardSubhead--nostalgia,
.infoCardSubhead--olimpiadas{
  width:90%;
  color:white;
  font-weight:bold;
}
.infoCardContainer--nostalgia,
.infoCardContainer--olimpiadas{
  height:400px;
  margin: 2rem auto;
  padding: 0;
  border-radius:5px;
  background-color: #06092b;   
  position:relative;   
  margin-left:.5rem;  
}

.infoCardContainer--nostalgia::after,
.infoCardContainer--olimpiadas::after{
  position:absolute;
  content:"";
  top:0;
  left:0;  
  border-radius:5px;
  width:100%;
  height:400px;
  background-image: linear-gradient(to bottom, rgba(252, 253, 253,.1), rgb(155, 201, 216,0.2), rgb(61, 145, 194,0.3), rgb(0, 87, 165,0.5), rgb(6, 21, 120,0.9));

}

.infoCardTextContainer--nostalgia,
.infoCardTextContainer--olimpiadas {        
  margin: 2rem auto;
  padding: 0;  
  position:absolute;
  left:20px;
  bottom:0;
  z-index: 10;
}

.infoCardHeadline--nostalgia::after,
.infoCardHeadline--olimpiadas::after{
  content:"";
  position:absolute;
  bottom:-5px;
  left:0;
  border:0;
  padding:2.5rem;  
  width:20px;
  border-bottom:5px solid #4839ff;  
}

/*Info cards nostalgia e olimpiadas*/


.infoCardImage{
  width:100%;
  background-size: contain;
  background-position:center center;  
}

/*Info card Game 4*/
 .infoCardContainer--stack {      
    width:80%;
    height:400px;          
    padding: 0;
    background-color: #06092b;        
    position:relative;
    border-radius:5px;
    outline:none;
  }
  .infoCardSubhead--stack{
    width:90%;
    color:white;
    font-weight:bold;
  }
  .infoCardHeadline--stack{
    color:#06092b;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: .5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
  }

  .infoCardHeadline--stack::after {         
    content:"";
    position:absolute;
    top:20px;
    left:0;
    border:0;
    padding:1rem;  
    width:3px;
    border-bottom:4px solid #4839ff;
  }
/*Info card Game 4*/    


/*Info card Categorias HEADER*/   
.infoCardContainer--acao {        
  display:flex;
  justify-content: space-between;
  margin: 0;  
  padding:0;  
  background-color: #1db8fb;       
}

.infoCardSubhead--acao{
  width:90%;
  color:white;
  font-weight:bold;
}
.infoCardHeadline--acao{
  color:white;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: .5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:relative;
}

.infoCardImage--acao{    
  display:block;  
  max-width: 100%;   
}

.infoCardTextContainer--acao{
  width:50%;
  color:white;
  position:relative;
}
.infoCardHeadline--acao::after {         
  content:"";
  position:absolute;
  bottom:-5px;
  left:0;
  border:0;
  padding:.5rem;  
  width:20px;
  border-bottom:3px solid #4839ff;
}
/*Info card Categorias HEADER*/   


/*Info card Categorias FOOTER*/   
.infoCardContainer--acao-footer {    
    height:500px;    
    padding: 1rem;
    padding-bottom: 3rem; 
    margin:0;
    background-color: #06092b;             
  }

  .infoCardImage--acao-footer{
    height:fit-content;
    width:500px;
  }
  
  .infoCardImage--acao-footer{
    height:400px;
    object-position: center;
    display:block;
    object-fit: cover;
    background-size: cover; 
    border-radius:5px;
  }

  .infoCardSubhead--acao-footer{
    width:90%;
    color:white;
    font-weight:bold;
  }
  .infoCardHeadline--acao-footer{
    color:white;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
  }
  .infoCardHeadline--acao-footer::after {         
    content:"";
    position:absolute;
    bottom:-5px;
    left:0;
    border:0;
    padding:.5rem;  
    width:20px;
    border-bottom:3px solid #4839ff;
  }
/*Info card Categorias FOOTER*/   

.infoCardContainer--descricaoProd {    
    width:90%;
    margin:0;
    padding: 1rem;     
    background-color: #06092b;       
}

  .productImage{
    width:90%;        
    margin:.5rem;       
    
  }
  .skuSelectorOptionsList,
  .skuSelectorTextContainer{
    display:none;
  }

  .productBrand{
    position:absolute;
    left:2rem;
    top:300px;
    width:80%;
    color:white;
    font-weight:bold;
    font-family: serif;
    font-size: 2.25rem;    
  }

  .productBrand::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    border:0;
    padding:1.5rem;  
    width:5px;
    border-bottom:3px solid #4839ff;
  
  }
  
@media screen and (max-width:700px){
  .imageElement--consolas {
    margin-top: 15px;    
  }
  
  .productBrand{
    position:absolute;
    left:2rem;
    top:150px;    
    padding-bottom: .5rem;
  }

  .infoCardContainer--header{
    width:100%;
    height: 500px;
    margin:auto;
    position:relative;     
  }
  
  .infoCardHeadline--header{    
    font-size: 2rem;
    width: 100%;    
  }
  
  .infoCardTextContainer--header{
    width:100%;    
  }
  
  .infoCardSubhead--header{
    width:100%;    
  }
      
  .infoCardContainer--acao{      
      height:400px;
      margin: 0;    
      padding:0;
      position:relative;
      z-index: 1000;
  }
  
  .infoCardTextContainer--acao{      
    width:100%;
    color:white;
    position:relative;      
  }

  
  .infoCardTextContainer--acao-footer{      
    width:100%;
    color:white;
    position:relative;      
    margin:auto;
  }
  .infoCardImage--acao{
    position:absolute;
    top:0;
    right:0;    
    z-index:-99;
    height:100%;
  }
  .infoCardContainer--acao-footer{      
    height:400px;
    margin: 0;    
    position:relative;
    z-index: 1000;
  }

  .infoCardImage--acao-footer{
    display:none;
    position:absolute;
    top:0;
    right:0;
    z-index:-99;
  }
  .infoCardHeadline--acao-footer{
    color:white;
    font-size: 25px;
    width: 500px;
    padding-bottom: .5rem;
    }
  .infoCardSubhead--acao-footer{
    color:white;
    font-size: 10px;
    width: 350px;
    line-height: 20px;  
  }
}

